name: bicep-validate

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Validate Bicep (build)
        uses: azure/CLI@v2
        with:
          inlineScript: |
            az version
            az bicep version || az bicep install
            az bicep upgrade
            az bicep build --file bicep/main.bicep
